main {
    background-color: #252525;
}

/* Default: hidden di desktop */
.fab-container {
    display: none;
}

.sidenav-container {
    display: flex;
}

/* Hanya tampil di layar kecil (mobile) */
@media (max-width: 1400px) {
    .fab-container {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }
    .sidenav-container {
        display: none;
    }
    .my-name {
        font-size: 40px;
        font-weight: 400;
        color: #F0EDCF;
    }
}

.my-name {
    font-size: 70px;
    font-weight: 800;
    color: #F0EDCF;
}

.description {
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
}

.hero-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #252525;
    background-color: #F0EDCF;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.hero-btn:hover {
    transform: scale(1.07);
    background-color: #F0EDCF;
    color: #252525;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

/* .about-me-title {
    font-size: 3rem;
    font-weight: 800;
    color: #F0EDCF;
} */

.splice-layered {
    position: relative;
    display: inline-block;
}

.splice-stroke {
    position: absolute;
    top: -2px;
    left: -2px;
    color: transparent;
    -webkit-text-stroke: 1.8px #F0EDCF;
    z-index: 2;
}

.splice-fill {
    color: rgb(255, 255, 255);
    z-index: 1;
    position: relative;
    /* text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.about-me-text {
    font-size: 1.125rem;
    line-height: 1.8;
}

/* .experience-title{
    font-size: 3rem;
    font-weight: 800;
    color: #F0EDCF;
} */

.organization-card{
    background-color: #252525;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease;
    margin-left: 25px;
}

.project-section{
    padding-top: 8rem;
}

/* .project-title {
    font-size: 3rem;
    font-weight: 800;
    color: #F0EDCF;
} */

.bg-project {
    background-color: #252525;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-btn{
    background-color: #F0EDCF;
    color: #252525;
}

/* .contact-title {
    font-size: 3rem;
    font-weight: 800;
    color: #F0EDCF;
} */

.contact-btn {
    border-radius: 20px;
    color: #252525;
    background-color: #F0EDCF;
}

.sosmed-btn a {
    width: 50px;
    height: 50px;
    font-size: 27px;
    background-color: #F0EDCF;
}

.sosmed-btn a:hover {
    border: 2px solid;
    color: #F0EDCF;
}

/* Smooth scrolling untuk navigation */
html {
    scroll-behavior: smooth;
}